:root {
  --theme-lightest: #eeeeee;
  --theme-medium: #4c7273;
  --theme-dark: #042630;
  --theme-darkest: #041421;
}

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 5.375rem;
}

body {
  background-color: var(--theme-lightest);
  color: var(--theme-darkest);
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.125rem;
  margin: 0;
}

#menubar {
  align-items: center;
  display: flex;
  padding: 1.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#logo {
  color: var(--theme-lightest);
  flex-grow: 1;
  font-size: 1.75rem;
  font-weight: 300;
}

#menu {
  background-color: var(--theme-dark);
  color: var(--theme-lightest);
  display: none;
  left: 0;
  height: 100dvh;
  padding: 1.5rem 1rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;

  &.visible {
    display: flex;
    flex-direction: column;
  }

  & .menu-toggle:not(a) {
    align-self: flex-end;
    margin-bottom: 2.5rem;
  }

  & a {
    color: inherit;
    margin: 1.25rem 0;
    text-decoration: none;
    font-size: 2.25rem;
  }

  & a.cta {
    align-self: center;
    background-color: var(--theme-lightest);
    color: var(--theme-dark);
    padding: 1rem 2rem;
  }
}

.menu-toggle {
  cursor: pointer;
  font-size: 2rem;
}

.menu-toggle-bar {
  background-color: white;
  height: 0.125rem;
  margin: 0.5rem 0;
  width: 1.625rem;
}

#splash {
  background-color: var(--theme-dark);
  color: var(--theme-lightest);
  margin-bottom: 2rem;
  padding: 8rem 0 3rem;
  text-align: center;

  & h1 {
    margin-bottom: 3rem;
  }
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.625rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
}

.social {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  & a {
    color: var(--theme-lightest);
  }
}

a.cta {
  align-self: center;
  border: solid 0.375rem;
  border-color: var(--theme-dark);
  color: inherit;
  display: inline-block;
  font-weight: 100;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

section {
  padding: 0.5rem 1.75rem;
  width: 100%;
}

blockquote {
  font-size: 1rem;
  margin: 1.5rem 0;
  text-align: center;
}

.divider {
  border-left: 0 solid transparent;
  border-right: 66.6vw solid transparent;
  border-top: 0.5rem solid var(--theme-medium);
  height: 0;
  width: 0;
}

#reviews {
  blockquote {
    text-align: justify;
  }
}

h3 {
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

#about-me {
  border: solid 0.375rem var(--theme-medium);
  border-color: var(--theme-medium) transparent var(--theme-medium) transparent;
  border-radius: 100%;
  display: flex;
  height: 15rem;
  margin: 1.75rem auto -0.25rem;
  overflow: hidden;
  padding: 1rem;
  transform: rotate(-65deg);
  width: 15rem;

  & img {
    border: solid 0.0625rem var(--theme-dark);
    border-radius: 100%;
    height: 100%;
    transform: rotate(65deg);
    width: 100%;
  }
}

p {
  margin: 1.5rem 0;
}

ul {
  margin: -1rem 0 1.75rem;
}

sup {
  font-size: 0.875rem;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 6.25rem;
  }

  #logo {
    font-size: 2rem;
  }

  #menubar {
    & > .menu-toggle {
      display: none;
    }
  }

  #menu {
    align-items: center;
    background-color: unset;
    display: flex;
    height: unset;
    padding: unset;
    position: relative;
    width: unset;

    &.visible {
      display: inherit;
      flex-direction: inherit;
    }

    & > .menu-toggle:not(a) {
      display: none;
    }

    & a {
      font-size: 1.125rem;
      margin: 0 1rem;
    }

    & a.cta {
      margin-right: 0;
      padding: 1rem 1.5rem;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    align-self: center;
    max-width: 48rem;
  }

  blockquote {
    font-size: 1.125rem;
  }

  #about-me {
    float: left;
    height: 15rem;
    margin: 1.375rem 2.25rem 2rem 0;
    padding: 1rem;
    width: 15rem;
  }
}
