:root {
  --theme-lightest: #eeeeee;
  --theme-medium: #4c7273;
  --theme-dark: #042630;
  --theme-darkest: #041421;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  align-items: center;
  background-color: var(--theme-lightest);
  color: var(--theme-darkest);
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 0;
}

a {
  color: inherit;
}

blockquote {
  font-size: 16px;
  margin: 1.5rem 0;
  text-align: justify;
}

img {
  width: 100%;
}

section {
  padding: 0 1.5rem;
  width: 100%;
}

#titlebar {
  background-color: var(--theme-dark);
  color: var(--theme-lightest);
  padding: 1.5rem;
  position: fixed;
  width: 100%;

  & h1 {
    font-weight: 300;
  }
}

#splash {
  background-color: var(--theme-dark);
  color: var(--theme-lightest);
  padding: 8rem 0 3rem;
  text-align: center;
  width: 100%;

  & h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3rem;
  }
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 300;
}

h3 {
  font-size: 1.75rem;
  margin: 1.75rem 0;
}

.social {
  column-gap: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.divider {
  align-self: flex-start;
}

a.cta {
  border: solid 0.25rem;
  border-color: var(--theme-dark);
  font-weight: 100;
  font-size: 1.5rem;
  margin: 1.75rem 0;
  padding: 1rem 2rem;
  text-decoration: none;
}

.divider {
  border-left: 0 solid transparent;
  border-right: 66.6vw solid transparent;
  border-top: 0.5rem solid var(--theme-medium);
  height: 0;
  width: 0;
}

p {
  margin: 1.75rem 0;
}

ul {
  margin: -1rem 0 1.75rem;
}

sup {
  font-size: 0.875rem;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  #logo {
    font-size: 2rem;
  }

  blockquote {
    font-size: 1.125rem;
  }

  img {
    max-width: 45rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    max-width: 48rem;
  }
}
